# Ignore ALL environment variable files anywhere in the project
.env
.env.*
!.env.example

# Ignore ALL Node modules anywhere in the project
node_modules/

# Next.js build files
.next/
out/
next-env.d.ts
tsconfig.tsbuildinfo

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/